# ENTSO-E CREDENTIALS. IOP (development) and PROD.

PROD_ENTSOE_TOKEN=
PROD_ENTSOE_EMAIL=
PROD_ENTSOE_PASSWORD=

IOP_ENTSOE_TOKEN=
IOP_ENTSOE_EMAIL=
IOP_ENTSOE_PASSWORD=

# Jina AI API key

JINA_AI_API=

# SeaweedFS Lakehouse password
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
