# ENTSO-E CREDENTIALS. IOP (development) and PROD.
# Get your token at https://transparency.entsoe.eu/ after registration.

PROD_ENTSOE_TOKEN=c0ffeed0-cafe-48b2-9a01-feeddeadbeef
PROD_ENTSOE_EMAIL=guido.van.rossum@montypython.org
PROD_ENTSOE_PASSWORD=Spam&Eggs12345!

IOP_ENTSOE_TOKEN=deadbeef-cafe-42e7-98d1-7d67fb9dacaa
IOP_ENTSOE_EMAIL=sir.lancelot@montypython.org
IOP_ENTSOE_PASSWORD=Shrubbery98765#

# SeaweedFS Lakehouse password
AWS_ACCESS_KEY_ID=guidorossumkey1234
AWS_SECRET_ACCESS_KEY=montypythonsecretkey
