# ENTSO-E CREDENTIALS. IOP (development) and PROD.

# Get your token at https://transparency.entsoe.eu/ after registration.
PROD_ENTSOE_TOKEN=c0ffeed0-cafe-48b2-9a01-feeddeadbeef
PROD_ENTSOE_EMAIL=guido.van.rossum@montypython.org
PROD_ENTSOE_PASSWORD=Spam&Eggs12345!

# Get your token at https://transparency.entsoe.eu/ after registration.
IOP_ENTSOE_TOKEN=deadbeef-cafe-42e7-98d1-7d67fb9dacaa
IOP_ENTSOE_EMAIL=sir.lancelot@montypython.org
IOP_ENTSOE_PASSWORD=Shrubbery98765

# SeaweedFS Lakehouse password
AWS_ACCESS_KEY_ID=guidorossumkey1234
AWS_SECRET_ACCESS_KEY=montypythonsecretkey

# Kestra Settings & Database Credentials
KESTRA_DB_PASSWORD=HolyGrailPassword42
KESTRA_USER=black_knight
KESTRA_PASS=NoneShallPass123!

# ENTSO-E Metadata PostgreSQL Database Credentials
DATABASE_PASSWORD=NoneShallPass321!

# Duplicate project_root in .env for Docker containers
# See `docs/adr/ADR-001-centralized-yaml-configuration.md`
PROJECT_ROOT=/home/user/developer/your_project_folder
